node_modules
dist
dist-ssr
*.local
.DS_Store
.env
.env.local
.vite
*.tsbuildinfo

public/cedict.json
public/hsk.json
public/sentences.json
public/pwa-*.png
public/apple-touch-icon.png

scripts/cfdict.u8
scripts/cmn_sentences.tsv*
scripts/fra_sentences.tsv*
scripts/cmn-fra_links.tsv*
scripts/links.csv
